* { 
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: #272829;
    color:rgb(226, 226, 226)
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid 1px rgb(239, 244, 245);
    align-items: center;
    padding: 2em;
    margin-bottom: 50px;
}
li > a, button {
    font-weight: bolder;
    font-size: 16px;
}
.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0px 25px
}
.nav-links li a {
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.nav-links a:hover {
   color: rgb(79, 114, 71);
   cursor: pointer;
}
button {
    box-sizing: border-box;
    border-radius: 30px 30px 30px 0;
    padding: 10px;
    font-size: 12px;
    cursor: grab;
}

/* main section */
mark {
    background: rgb(110,128,166);
    background: linear-gradient(90deg, rgba(110,128,166,0.4626444327731093) 0%, rgba(231,204,69,0.3505996148459384) 86%);
   );
}

/* Footer design starts here */

